.card__header {
  display: flex;
  align-items: center;
  white-space: nowrap;
  position: absolute;
  top: 15px;
  @include media-mobile{
    white-space: unset;
    position: static;
  }
}

.card__word {
  font-size: 2rem;
  margin: 0;
}

.card {
  border-radius: 25px;
  position: relative;
  background-color: $colorLink5;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  @include media-tablet{
    font-size: 0.8em;
  }
  @include media-mobile{
    flex-direction: column;
    min-width: 300px;
  }
}


.card:nth-child(20){
  margin-bottom: 10px;
}

.card__preview{
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  min-width: 300px;
  min-height: 270px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  @include media-mobile{
    border-bottom-left-radius: 0;
    border-top-right-radius: 25px;
  }
}


.card__icon {
  margin-right: 10px;
  max-height: 22px; 
  max-width: 25px;
  transform: scale(1.3);
}

.play-mode{
  max-width: 20px;
  max-height: 20px;
}

.card__icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  margin-left: 10px;
}

.card__icon_play {
  cursor: pointer;
  fill: $color-light-xl;
}

.card__icon_play.play-mode {
  background-color: black;
  fill: black;
  border-radius: 5px;
  transform: scale(1.1);
}

.card__icon:not(:first-child) {
  margin-left: 10px;
}

.card__translation {
  display: block;
  text-transform: uppercase;
  color: grey;
  padding-top: 3px;
}

.card__translation_disabled {
  display: none;
}
.card__example{
  margin-top: 15px;
}
.card__example > h3 > i {
  color: $colorLink0;
}
.card__content {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 45px;
  @include media-mobile{
    padding-top: 15px;
  }
}


.card__word {
  width: fit-content;
  @include media-tablet{
    font-size: 1.5rem;
  }
}
.card__controls {
  margin-left: auto;
}
.card__controls button {
  border: 1px solid grey;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
}

// .card__btn {
//   cursor: pointer;
//   background-color: inherit;
//   min-width: 150px;
//   border: 3px solid #fff;
//   padding: 5px 10px;
//   border-radius: 35px;
// }

// .card__btn_hard {
//   // border-color: $colorLink4;
//   color: #fff;
// }

// .card__btn_learned {
//   // border-color: #00bc9c;
//   color: #fff;
// }
