@import "Scss/main.scss";

@import "./header/header.scss";
@import "./side-menu/side-menu.scss";
@import "./main/main.scss";
@import "./footer/footer.scss";

@import "./pages/common/common.scss";
@import "./pages/textbook-page/textbook-page.scss";
@import "./pages/dictionary-page/dictionary-page.scss";
@import "./pages/error-page/error-page.scss";
@import "./pages/common/loader/loader.scss";
@import "../games/sprint/sprint.scss";
@import "./pages/auth/auth-page.scss";
@import "./pages/main-page/main-page.scss";
@import "./pages/common/gameLinks/gameLinks.scss";
@import "./pages/games-page/games-page.scss";
@import "./pages/team-page/team-page.scss";
@import "./../games/audio-game/audio-game-view.scss";

html {
  height: 100%;
}
body {
  min-height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  @include media-mobile{
    
  }
}

#root{
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}