.side-menu__toggle{
  position: absolute;
  top: 5px;
  left: 20px;
  width: 40px;
  height: 40px;
  background-color: $color-primary;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: left 0.5s ease;
}

.side-menu__toggle:hover{
  *{
    color: $color-dark-3xl;
  }
}

.side-menu__toggle ion-icon{
  position: absolute;
  color: $color-light-xl;
  font-size: 34px;
  display: none;
}

.side-menu__toggle.active{
  background: $color-primary;
}

.side-menu__toggle .side-menu__toggle_open,
.side-menu__toggle.active .side-menu__toggle_close{
  display: block;
}

.side-menu__toggle .side-menu__toggle_close,
.side-menu__toggle.active .side-menu__toggle_open{
  display: none;
}