.stats-page{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.today-stats{
  width: 300px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-basis: 100%;
  color: $color-light-xl;
}

.stats-page__header{
  color: $color-light-xl;
}

.stats-page__header:nth-child(3){
  margin-bottom: 30px;
}

.today-stats-container{
  display: flex;
}

.learned-words-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.learned-words-container + .learned-words-container{
  margin-left: 30px;
}

.learned-words-container__data{
  font-size: 3em;
  font-weight: bold;
}

.learned-words-container__description{

}

.game-cards-container{
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  margin: 30px 0;
  @include media-mobile{
    flex-direction: column;
    align-items: center;
  }
}

.game-stats-card{
  width: fit-content;
  height: fit-content;
  padding: 20px;
  border-radius: 30px;
  margin: 0 20px;
  transition: all 0.3s ease;
  border: solid 5px $color-light-xl;
  span{
    color: brown;
  }
}

.game-stats-card + .game-stats-card{
  @include media-mobile{
    margin-top: 30px;
  }
}

.game-stats-card:hover{
  cursor: pointer;
  box-shadow: 10px 5px 20px black;
}

.game-name{
  margin-bottom: 10px;
}

.learned-words{
  margin-bottom: 5px;
}

.correct-answer-percent{
  margin-bottom: 5px;
}

.longest-series{

}

.sprint{
  background:	#eaac8b;
}

.pip{
  background:cadetblue;
}

.charts-container{
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  @include media-tablet{
    flex-direction: column;
  }
}

.chart1-container{
  min-width: 48%;
  @include media-tablet{
    margin-bottom: 30px;
  }
}

.chart2-container{
  min-width: 48%;
}