.games-page {
    width: 100%;
}
.games__title {
    width: fit-content;
    color: $color-light-xl;
}
.games__title:first-child {
    margin-right: 15px;
    border-right: 4px solid $colorLink5;
}
.games__title {
    text-transform: uppercase;
    color: $colorLink5;
}
.games__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4em;
    gap: 1em;
    padding: 0 5em;
    padding-bottom: 30px;
    @include media-tablet {
        margin-top: 2em;
        flex-wrap: wrap;
        gap: 2em;
    }
}
.games__game1,
.games__game2 {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2em;
    @include media-mobile {
        gap: 1em;
    }
}
.games__sprint {
    background-image: url('Assets/images/sprint.jpeg');
    background-size: cover;
    width: 500px;
    height: 350px;
    border-radius: 60px;
    border: 1em solid $colorLink5;
    @include media-mobile {
        width: 320px;
        height: 250px;
        border: 0.5em solid $colorLink5;
    }
    cursor: pointer;
}
.games__audio-game {
    background-image: url('Assets/images/audio.jpg');
    background-size: cover;
    width: 500px;
    height: 350px;
    border-radius: 60px;
    border: 1em solid $colorLink4;
    @include media-mobile {
        width: 320px;
        height: 250px;
        border: 0.5em solid $colorLink4;
    }
    cursor: pointer;
}
.games__sprint:hover {
    box-shadow: 0 0 5em rgba(227, 208, 196, 0.8);
}
.games__audio-game:hover {
box-shadow: 0 0 5em rgba(227, 208, 196, 0.8);
}