/* //pagination// */ 

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 15px;
}

.second-pagination{
  display: none;
  margin-top: 10px;
  padding-bottom: 10px;
  @include media-mobile{
    display: flex;
  }
}

.pagination__icon {
  height: 48px;
  width: 48px;
}

.pagination__list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pagination__item:nth-child(2){
  @include media-mobile{
    order: 1;
  }
}

.pagination__item:nth-child(3){
  @include media-mobile{
    display: none;
  }
}

.pagination__item:nth-child(4){
  @include media-mobile{
    display: none;
  }
}

.pagination__item:nth-child(5){
  @include media-mobile{
    display: none;
  }
}

.pagination__item:nth-child(6){
  @include media-mobile{
    display: none;
  }
}

.pagination__item:nth-child(7){
  @include media-mobile{
    display: none;
  }
}

.pagination__item:nth-child(8){
  @include media-mobile{
    order: 2;
  }
}

.pagination__item:nth-child(9){
  @include media-mobile{
    order: 2;
  }
}

.pagination__item:nth-child(10){
  display: none;
  @include media-mobile{
    display: block;
    order: 1;
  }
}

.pagination__link {
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center ;
  width: 40px;
  height: 40px;
  margin: 0px 8px;
  background: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 10px;
  user-select: none;
  transition: color 0.3s ease 0s;
  cursor: default;
}

.pagination__link:not(.pagination__link_active){
  cursor: pointer;
}

.pagination__link_active {
  box-shadow: #4d5bf9 0px 0px 10px;
}

.pagination__item_disabled {
  pointer-events: none;
}

.pagination__item svg {
  fill: #4d5bf9;
}

.pagination__item_disabled svg {
  fill: grey;
}