.select {
  position: relative;
  width: 250px;
}

.select_disabled {
  pointer-events: none;
}

.select__list_hidden {
    display: none;
}

.select__placeholder {
  cursor: pointer;
  position: relative;
  padding: 10px 15px;
  border: 2px solid $colorLink4;
  border-radius: 25px;
  @include media-mobile{
    width: 220px;
  }
}

.select__list {
  padding: 45px 0 10px 0;
  border-radius: 25px;
  left: 0;
  right: 0;
  position: absolute;
  background-color: $colorLink4;
  border: 2px solid $colorLink4;
}

.select__item {
  padding: 5px 15px;
  cursor: pointer;
}

.select__item:hover {
  background-color: #6d597a;
}

.select__placeholder::after {
  content: '\2304';
  right: 10px;
  top: 0px;
  position: absolute;
  height: 15px;
  width: 15px;
}

.select__placeholder:hover {
  border-color: #e56b6f;
}