/* //pagination// */ 

.pagination {
  display: flex;
  justify-content: center;
}

.pagination__icon {
  cursor: pointer;
  height: 48px;
  width: 48px;
}

.pagination__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

.pagination__item {
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0px 8px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 10px;
  user-select: none;
  transition: color 0.3s ease 0s;
}

.pagination__item_active {
  border: 2px solid rgb(250, 170, 186);
  color: rgb(250, 170, 186);
}

.pagination__item_disabled {
  pointer-events: none;
}

.pagination__item_disabled svg {
  fill: grey;
}