ul {
  padding: 0;
}

li {
  list-style: none;
}

.btn-reset {
  // background: none;
  cursor: pointer;
  border: none;
  outline: none;
}

.textbook-page {
  // max-width: 80vw;
  margin: 0 auto;
  height: auto;
  width: 100%;
}

.textbook-page__words {
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr;
  height: auto;
}