.footer__logo-link{
  position: absolute;
  left: 10px;
  display: block;
  width: 75px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__logo{
  display: block;
  width: 60px;
  height: 25px;
  background-color: $color-primary;
  background-image: url('Assets/icons/rss-logo.svg');
  background-repeat: no-repeat;
}