.scroll-up-btn{
  display: none;
  position: fixed; /* Fixed/sticky position */
  top: 60px;
  right: 10px;
  z-index: 99; /* Make sure it does not overlap */
  border: 1px solid darken(gray, 20%); /* Remove borders */
  border-radius: 50%;
  background-color: rgba(255,255,255, 0.4); /* Set a background color */
  color: darken(gray, 20%); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 0 10px;
  padding-bottom: 5px;
  font-size: 1.5em;
  @include media-mobile{
    top: 60px;
    right: 5px;
  }
}